{% extends "django_openstack/swift/base.html" %}
{% block title %} - {{ project.projectname|capfirst }} Overview{% endblock %}
{% block pageclass %}overview{% endblock %}

{% block content %}
  <div id="page_head">
    <h2><span>{{ project.projectname|capfirst }}</span> Overview</h2>
  </div>

  {% include "django_openstack/_messages.html" %}

  <div id="welcome">
    <p>Welcome to the Object Store overview for the <span>{{ project.projectname|capfirst }}</span> project.  From here you can manage containers and objects.</p>
  </div>
{% endblock %}

